body {
  width: 100%;
  margin: 0;

  text-align: center;
}

p {
  margin: 0;
}

/* Завдання 1 */

.float-model,
.float-header,
.float-footer,
.flex-model,
.flex-header,
.flex-footer {
  width: 100%;
}

.float-header,
.float-footer,
.flex-header,
.flex-footer {
  height: 100px;
  background-color: yellow;
}

.float-left-side,
.float-right-side,
.flex-left-side,
.flex-right-side {
  height: 400px;
  width: 50%;
}

.float-left-side,
.flex-left-side {
  background-color: blueviolet;
}

.float-right-side,
.flex-right-side {
  background-color: chartreuse;
}

.float-left-side {
  float: left;
}

.float-right-side {
  float: right;
}

.div-text,
.div-text-aside {
  font-size: 36px;
}

.div-text {
  padding: 24px 0;
}

.div-text-aside {
  padding: 150px 0;
}

.clear {
  clear: both;
}

/* Завдання 2 */

.flex-model,
.flex-sides {
  display: flex;
}

.flex-model {
  flex-direction: column;
}

.mt-48px {
  margin-top: 48px;
}
